.logo12 {
  width: 95%;
  margin-bottom: 15px auto;
}

.auth-title {
  width: 80%;
  margin: 22.5px 0 15px 0;
  color: #514941;
  font-size: 1.65rem;
  text-align: left;
}

.auth-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 13.5px;
  width: 300px;
}

.auth-label b {
  font-size: 1.125em;
  margin-bottom: 1.5px;
  color: #366299;
  font-weight: bold;
}

.auth-label input {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 41.25px;
  padding: 15px;
  font-size: 0.9rem;
  color: #292521;
  border: 1.875px solid #c9c2b9;
  border-radius: 7.5px;
  box-sizing: border-box;
}

.auth-label input::placeholder {
  color: #96928b;
  opacity: 1;
}

.auth-button {
  width: 187.5px;
  margin-top: 15px;
}